[submodule "src/Libraries/Logging"]
	path = src/Libraries/Logging
	url = ../Logging.git
[submodule "src/Libraries/RIFF-Util"]
	path = src/Libraries/RIFF-Util
	url = https://gitlab.com/ChylerDev/RIFF-Util.git
[submodule "src/Libraries/FixedPoint"]
	path = src/Libraries/FixedPoint
	url = https://gitlab.com/ChylerDev/FixedPoint.git
